# West Nile Project

<img src="west_nile/input/Capture5.PNG" height="400" width="400">

#### The deets
<img src="west_nile/input/Capture.PNG" height="600" width="600">

**C:/Users/datta/project4/project-4/data/west_nile/input/noaa_weather_qclcd_documentation.pdf**
** **
<b> Link: </b>
https://www.kaggle.com/c/predict-west-nile-virus/data

<span style="color:green">
    <p><b>Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT<p> Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level</p></p>
    <p></p>
    <p>Station 2: CHICAGO MIDWAY INTL ARPT<p> Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level</p></p></b>
    </span>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### LOAD DATA

In [3]:
west = pd.read_csv("west_nile/input/train.csv")
spray = pd.read_csv("west_nile/input/spray.csv")
weather = pd.read_csv("west_nile/input/weather.csv")

#### Check out the train file (named west here)

In [ ]:
west = west.set_index(pd.DatetimeIndex(west['Date']))

In [86]:
west.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Date,,,,,,,,,,,,
2007-05-29,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2007-05-29,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2007-05-29,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
2007-05-29,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
2007-05-29,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [4]:
#See a single day data to see where the West Nile Virus is present
west[(west["Date"] =="2013-09-26") & (west['WnvPresent'] == 1)]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Date,,,,,,,,,,,,
2013-09-26,2013-09-26,"4600 Milwaukee Avenue, Chicago, IL 60630, USA",CULEX PIPIENS,46,N MILWAUKEE AVE,T003,"4600 N MILWAUKEE AVE, Chicago, IL",41.964242,-87.757639,8,3,1
2013-09-26,2013-09-26,"6300 West 64th Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,63,W 64TH ST,T155,"6300 W 64TH ST, Chicago, IL",41.776156,-87.778927,9,4,1
2013-09-26,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,39,1
2013-09-26,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1

In [88]:
west.resample('M').
#plt.scatter(west["Date"], west["NumMosquitos"])

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [30]:
#See which mosquitos are common in the collected data
west["Species"].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [83]:
#Check out the percent rate of West Nile Virus occurence
grouped = west.groupby(["Species"])
grouped_percentage = pd.DataFrame()
grouped_percentage["Number of Total Instances"] = west["Species"].value_counts()
grouped_percentage["WnvNotPresent Rate"] = grouped["WnvPresent"].apply(lambda x : x.value_counts()[0]/len(x) )
grouped_percentage["WnvPresent Rate"] = 1 - grouped_percentage["WnvNotPresent Rate"]
grouped_percentage["WnvNotPresent Instances"] = grouped_percentage["Number of Total Instances"] * grouped_percentage["WnvNotPresent Rate"]
grouped_percentage["WnvPresent Instances"] = grouped_percentage["Number of Total Instances"] - grouped_percentage["WnvNotPresent Instances"]


grouped_percentage

,Number of Total Instances,WnvNotPresent Rate,WnvPresent Rate,WnvNotPresent Instances,WnvPresent Instances
CULEX PIPIENS/RESTUANS,4752,0.944865,0.055135,4490.0,262.0
CULEX RESTUANS,2740,0.982117,0.017883,2691.0,49.0
CULEX PIPIENS,2699,0.911078,0.088922,2459.0,240.0
CULEX TERRITANS,222,1.000000,0.000000,222.0,0.0
CULEX SALINARIUS,86,1.000000,0.000000,86.0,0.0
CULEX TARSALIS,6,1.000000,0.000000,6.0,0.0
CULEX ERRATICUS,1,1.000000,0.000000,1.0,0.0

**It seems only the CULEX PIPIENS and CULEX RESTUANS can carry the virus**

**Further research confirms this, even though CULEX TARSALIS also carries the virus there are no instances of them having the virus, only six data points on them collected which may be a reason why**
<img src="west_nile/input/Capture3.PNG" height="700" width="700">

In [5]:
spray = spray.set_index(pd.DatetimeIndex(spray['Date']))
spray.drop(labels = "Time",axis = 1,inplace = True)

In [6]:
spray["Latitude"].min(),spray["Latitude"].max()

(41.713925, 42.3959833333333)

In [7]:
spray["Longitude"].min(),spray["Longitude"].max()

(-88.0964683333333, -87.58672666666669)

In [8]:
spray.Date.value_counts().sort_index()

2011-08-29      95
2011-09-07    2114
2013-07-17    2202
2013-07-25    1607
2013-08-08    1195
2013-08-15    2668
2013-08-16     141
2013-08-22    1587
2013-08-29    2302
2013-09-05     924
Name: Date, dtype: int64

##### Looked into the days 

<table align = "left">
    <tr><td>2011-08-29  Monday</td></tr>
    <tr><td>2011-09-07  Wednesday</td></tr>
    <tr><td>2013-07-17  Wednesday</td> </tr>
    <tr><td>2013-07-25  Thursday</td></tr>
    <tr><td>2013-08-08  Thursday</td></tr>
    <tr><td>2013-08-15  Thursday</td></tr>
    <tr><td>2013-08-16  Friday</td></tr>
    <tr><td>2013-08-22  Thursday</td></tr>
    <tr><td>2013-08-29  Thursday</td></tr>
    <tr><td>2013-09-05  Thursday</td></tr>
</table>

## Link to random article about spraying in chicago:
https://www.cityofchicago.org/city/en/depts/cdph/provdrs/healthy_communities/news/2018/july/city-to-spray-insecticide-wednesday-to-kill-mosquitoes.html

In [9]:
weather = weather.set_index(pd.DatetimeIndex(weather['Date']))
weather1 = weather.copy()
weather1.replace('M', 0.0, inplace = True)
weather1.replace('  T', 0.0, inplace = True)

In [10]:
weather1

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-01,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,0.0,0.0,0.00,29.10,29.82,1.7,27,9.2
2007-05-01,2,2007-05-01,84,52,68,0,51,57,0,3,...,,0,0.0,0,0.00,29.18,29.82,2.7,25,9.6
2007-05-02,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,0.0,0.0,0.00,29.38,30.09,13.0,4,13.4
2007-05-02,2,2007-05-02,60,43,52,0,42,47,13,0,...,BR HZ,0,0.0,0,0.00,29.44,30.08,13.3,2,13.4
2007-05-03,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,0.0,0.0,0.00,29.39,30.12,11.7,7,11.9
2007-05-03,2,2007-05-03,67,48,58,0,40,50,7,0,...,HZ,0,0.0,0,0.00,29.46,30.12,12.9,6,13.2
2007-05-04,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,0.0,0.0,0,29.31,30.05,10.4,8,10.8
2007-05-04,2,2007-05-04,78,51,0,0,42,50,0,0,...,,0,0.0,0,0.00,29.36,30.04,10.1,7,10.4
2007-05-05,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,0.0,0.0,0,29.40,30.10,11.7,7,12.0
2007-05-05,2,2007-05-05,66,54,60,0,39,50,5,0,...,,0,0.0,0,0,29.46,30.09,11.2,7,11.5
2007-05-06,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,0.0,0.0,0.00,29.57,30.29,14.4,11,15.0
2007-05-06,2,2007-05-06,68,52,60,0,30,46,5,0,...,,0,0.0,0,0.00,29.62,30.28,13.8,10,14.5
2007-05-07,1,2007-05-07,83,47,65,10,41,54,0,0,...,RA,0,0.0,0.0,0,29.38,30.12,8.6,18,10.5
2007-05-07,2,2007-05-07,84,50,67,0,39,53,0,2,...,,0,0.0,0,0.00,29.44,30.12,8.5,17,9.9
2007-05-08,1,2007-05-08,82,54,68,12,58,62,0,3,...,BR,0,0.0,0.0,0.00,29.29,30.03,2.7,11,5.8
2007-05-08,2,2007-05-08,80,60,70,0,57,63,0,5,...,HZ,0,0.0,0,0,29.36,30.02,2.5,8,5.4
2007-05-09,1,2007-05-09,77,61,69,13,59,63,0,4,...,BR HZ,0,0.0,0.0,0.13,29.21,29.94,3.9,9,6.2
2007-05-09,2,2007-05-09,76,63,70,0,60,63,0,5,...,BR HZ,0,0.0,0,0.02,29.28,29.93,3.9,7,5.9
2007-05-10,1,2007-05-10,84,56,70,14,52,60,0,5,...,BR,0,0.0,0.0,0.00,29.20,29.92,0.7,17,4.1
2007-05-10,2,2007-05-10,83,59,71,0,52,61,0,6,...,BR HZ,0,0.0,0,0.00,29.26,29.91,2.0,9,3.9
2007-05-11,1,2007-05-11,70,51,61,4,42,51,4,0,...,,0,0.0,0.0,0.00,29.33,30.04,11.3,3,12.9
2007-05-11,2,2007-05-11,73,49,61,0,44,51,4,0,...,,0,0.0,0,0.00,29.39,30.03,11.7,36,12.8
2007-05-12,1,2007-05-12,64,46,55,-2,36,46,10,0,...,,0,0.0,0.0,0.00,29.49,30.20,12.4,3,12.9
2007-05-12,2,2007-05-12,65,47,56,0,37,46,9,0,...,,0,0.0,0,0.00,29.54,30.19,12.7,1,13.0
2007-05-13,1,2007-05-13,69,43,56,-2,33,46,9,0,...,,0,0.0,0.0,0.00,29.49,30.24,6.6,14,8.1
2007-05-13,2,2007-05-13,69,44,57,0,32,46,8,0,...,,0,0.0,0,0.00,29.55,30.24,6.4,11,7.6
2007-05-14,1,2007-05-14,90,56,73,15,47,59,0,8,...,,0,0.0,0.0,0.00,29.23,29.97,16.9,21,17.3
2007-05-14,2,2007-05-14,90,54,72,0,45,58,0,7,...,,0,0.0,0,0.00,29.31,29.98,14.1,21,14.6
2007-05-15,1,2007-05-15,80,57,69,11,56,61,0,4,...,RA BR,0,0.0,0.0,0.38,29.13,29.84,8.1,27,12.3
2007-05-15,2,2007-05-15,82,56,69,0,56,61,0,4,...,TSRA RA BR,0,0.0,0,0.60,29.19,29.83,8.1,25,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-17,1,2014-10-17,62,48,55,3,46,50,10,0,...,,0,0.0,0.0,0,28.99,29.69,11.1,29,13.2
2014-10-17,2,2014-10-17,63,49,56,0,48,52,9,0,...,,0,0.0,0,0.01,29.05,29.69,10.7,28,12.7
2014-10-18,1,2014-10-18,50,36,43,-8,38,42,22,0,...,RA DZ,0,0.0,0.0,0.01,29.39,30.08,8.2,34,9.2
2014-10-18,2,2014-10-18,52,39,46,0,40,44,19,0,...,RA,0,0.0,0,0.02,29.44,30.08,7.6,34,8.7
2014-10-19,1,2014-10-19,54,33,44,-7,38,43,21,0,...,,0,0.0,0.0,0.00,29.31,30.07,7.8,21,8.2
2014-10-19,2,2014-10-19,57,36,47,0,40,44,18,0,...,,0,0.0,0,0.00,29.39,30.09,8.8,21,9.0
2014-10-20,1,2014-10-20,65,46,56,6,44,49,9,0,...,,0,0.0,0.0,0.01,29.17,29.90,4.7,32,9.3
2014-10-20,2,2014-10-20,66,50,58,0,46,51,7,0,...,,0,0.0,0,0.00,29.23,29.90,4.9,32,9.1
2014-10-21,1,2014-10-21,53,45,49,-1,39,44,16,0,...,,0,0.0,0.0,0.00,29.46,30.16,10.8,1,11.4
2014-10-21,2,2014-10-21,54,49,52,0,41,46,13,0,...,,0,0.0,0,0.00,29.51,30.15,11.0,36,11.6
2014-10-22,1,2014-10-22,56,35,46,-4,38,43,19,0,...,,0,0.0,0.0,0.00,29.56,30.30,2.9,8,4.8
2014-10-22,2,2014-10-22,56,43,50,0,38,44,15,0,...,,0,0.0,0,0.00,29.62,30.30,3.0,11,5.1
2014-10-23,1,2014-10-23,59,36,48,-1,40,45,17,0,...,BR,0,0.0,0.0,0.00,29.39,30.15,7.5,19,7.8
2014-10-23,2,2014-10-23,62,41,52,0,41,47,13,0,...,BR,0,0.0,0,0,29.46,30.16,7.9,19,8.4
2014-10-24,1,2014-10-24,67,52,60,11,46,52,5,0,...,,0,0.0,0.0,0.00,29.25,30.00,4.4,22,5.8
2014-10-24,2,2014-10-24,68,54,61,0,48,53,4,0,...,,0,0.0,0,0.00,29.31,30.00,4.9,22,5.8
2014-10-25,1,2014-10-25,72,49,61,13,40,51,4,0,...,BR,0,0.0,0.0,0.00,29.21,29.93,10.4,29,10.9
2014-10-25,2,2014-10-25,75,52,64,0,41,52,1,0,...,BR HZ,0,0.0,0,0.00,29.27,29.92,9.7,28,10.4
2014-10-26,1,2014-10-26,64,42,53,5,32,44,12,0,...,,0,0.0,0.0,0.00,29.21,29.95,0.9,5,5.8
2014-10-26,2,2014-10-26,66,44,55,0,33,45,10,0,...,,0,0.0,0,0.00,29.28,29.95,1.6,11,5.4
2014-10-27,1,2014-10-27,77,51,64,16,51,58,1,0,...,,0,0.0,0.0,0.00,28.92,29.66,12.0,19,12.9
2014-10-27,2,2014-10-27,79,54,67,0,52,59,0,2,...,RA,0,0.0,0,0.02,29.00,29.67,12.7,19,13.6
2014-10-28,1,2014-10-28,68,45,57,10,38,47,8,0,...,,0,0.0,0.0,0,29.15,29.85,14.8,26,15.6
2014-10-28,2,2014-10-28,66,48,57,0,40,48,8,0,...,RA,0,0.0,0,0.03,29.23,29.85,14.0,26,14.6
2014-10-29,1,2014-10-29,49,36,43,-4,32,40,22,0,...,,0,0.0,0.0,0.00,29.36,30.06,9.5,29,9.9
2014-10-29,2,2014-10-29,49,40,45,0,34,42,20,0,...,,0,0.0,0,0.00,29.42,30.07,8.5,29,9.0
2014-10-30,1,2014-10-30,51,32,42,-4,34,40,23,0,...,,0,0.0,0.0,0.00,29.34,30.09,5.1,24,5.5
2014-10-30,2,2014-10-30,53,37,45,0,35,42,20,0,...,RA,0,0.0,0,0,29.41,30.10,5.9,23,6.5
2014-10-31,1,2014-10-31,47,33,40,-6,25,33,25,0,...,RA SN,0,0.0,0.1,0.03,29.49,30.20,22.6,34,22.9
2014-10-31,2,2014-10-31,49,34,42,0,29,36,23,0,...,RA SN BR,0,0.0,0,0.04,29.54,30.20,21.7,34,22.6

In [11]:
west_nile = pd.concat([west,weather])

C:\Users\datta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [12]:
west_nile

,Address,AddressAccuracy,AddressNumberAndStreet,AvgSpeed,Block,CodeSum,Cool,Date,Depart,Depth,...,Street,Sunrise,Sunset,Tavg,Tmax,Tmin,Trap,Water1,WetBulb,WnvPresent
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",NaN,41.0,NaN,NaN,2007-05-29,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T002,NaN,NaN,0.0
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",NaN,41.0,NaN,NaN,2007-05-29,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T002,NaN,NaN,0.0
2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",9.0,"6200 N MANDELL AVE, Chicago, IL",NaN,62.0,NaN,NaN,2007-05-29,NaN,NaN,...,N MANDELL AVE,NaN,NaN,NaN,NaN,NaN,T007,NaN,NaN,0.0
2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",8.0,"7900 W FOSTER AVE, Chicago, IL",NaN,79.0,NaN,NaN,2007-05-29,NaN,NaN,...,W FOSTER AVE,NaN,NaN,NaN,NaN,NaN,T015,NaN,NaN,0.0
2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",8.0,"7900 W FOSTER AVE, Chicago, IL",NaN,79.0,NaN,NaN,2007-05-29,NaN,NaN,...,W FOSTER AVE,NaN,NaN,NaN,NaN,NaN,T015,NaN,NaN,0.0
2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",8.0,"1500 W WEBSTER AVE, Chicago, IL",NaN,15.0,NaN,NaN,2007-05-29,NaN,NaN,...,W WEBSTER AVE,NaN,NaN,NaN,NaN,NaN,T045,NaN,NaN,0.0
2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",8.0,"2500 W GRAND AVE, Chicago, IL",NaN,25.0,NaN,NaN,2007-05-29,NaN,NaN,...,W GRAND AVE,NaN,NaN,NaN,NaN,NaN,T046,NaN,NaN,0.0
2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",8.0,"1100 W ROOSEVELT, Chicago, IL",NaN,11.0,NaN,NaN,2007-05-29,NaN,NaN,...,W ROOSEVELT,NaN,NaN,NaN,NaN,NaN,T048,NaN,NaN,0.0
2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",8.0,"1100 W ROOSEVELT, Chicago, IL",NaN,11.0,NaN,NaN,2007-05-29,NaN,NaN,...,W ROOSEVELT,NaN,NaN,NaN,NaN,NaN,T048,NaN,NaN,0.0
2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",8.0,"1100 W CHICAGO, Chicago, IL",NaN,11.0,NaN,NaN,2007-05-29,NaN,NaN,...,W CHICAGO,NaN,NaN,NaN,NaN,NaN,T049,NaN,NaN,0.0
2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",8.0,"2100 N STAVE ST, Chicago, IL",NaN,21.0,NaN,NaN,2007-05-29,NaN,NaN,...,N STAVE ST,NaN,NaN,NaN,NaN,NaN,T050,NaN,NaN,0.0
2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",8.0,"2200 N CANNON DR, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,N CANNON DR,NaN,NaN,NaN,NaN,NaN,T054,NaN,NaN,0.0
2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",8.0,"2200 N CANNON DR, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,N CANNON DR,NaN,NaN,NaN,NaN,NaN,T054,NaN,NaN,0.0
2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",8.0,"2200 W 113TH ST, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,W 113TH ST,NaN,NaN,NaN,NaN,NaN,T086,NaN,NaN,0.0
2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",8.0,"2200 W 113TH ST, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,W 113TH ST,NaN,NaN,NaN,NaN,NaN,T086,NaN,NaN,0.0
2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",8.0,"1100 S PEORIA ST, Chicago, IL",NaN,11.0,NaN,NaN,2007-05-29,NaN,NaN,...,S PEORIA ST,NaN,NaN,NaN,NaN,NaN,T091,NaN,NaN,0.0
2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",9.0,"1700 W 95TH ST, Chicago, IL",NaN,17.0,NaN,NaN,2007-05-29,NaN,NaN,...,W 95TH ST,NaN,NaN,NaN,NaN,NaN,T094,NaN,NaN,0.0
2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",8.0,"2200 W 89TH ST, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,W 89TH ST,NaN,NaN,NaN,NaN,NaN,T096,NaN,NaN,0.0
2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",8.0,"2200 W 89TH ST, Chicago, IL",NaN,22.0,NaN,NaN,2007-05-29,NaN,NaN,...,W 89TH ST,NaN,NaN,NaN,NaN,NaN,T096,NaN,NaN,0.0
2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",5.0,"5300 N STREETER DR, Chicago, IL",NaN,53.0,NaN,NaN,2007-05-29,NaN,NaN,...,N STREETER DR,NaN,NaN,NaN,NaN,NaN,T129,NaN,NaN,0.0
2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",5.0,"5300 N STREETER DR, Chicago, IL",NaN,53.0,NaN,NaN,2007-05-29,NaN,NaN,...,N STREETER DR,NaN,NaN,NaN,NaN,NaN,T129,NaN,NaN,0.0
2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",8.0,"6500 N OAK PARK AVE, Chicago, IL",NaN,65.0,NaN,NaN,2007-05-29,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T143,NaN,NaN,0.0
2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",8.0,"7500 N OAKLEY AVE, Chicago, IL",NaN,75.0,NaN,NaN,2007-05-29,NaN,NaN,...,N OAKLEY AVE,NaN,NaN,NaN,NaN,NaN,T148,NaN,NaN,0.0
2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",8.0,"1500 N LONG AVE, Chicago, IL",NaN,15.0,NaN,NaN,2007-05-29,NaN,NaN,...,N LONG AVE,NaN,NaN,NaN,NaN,NaN,T153,NaN,NaN,0.0
2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",8.0,"8900 S CARPENTER ST, Chicago, IL",NaN,89.0,NaN,NaN,2007-05-29,NaN,NaN,...,S CARPENTER ST,NaN,NaN,NaN,NaN,NaN,T159,NaN,NaN,0.0
2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",NaN,41.0,NaN,NaN,2007-06-05,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T002,NaN,NaN,0.0
2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",NaN,41.0,NaN,NaN,2007-06-05,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T002,NaN,NaN,0.0
2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",NaN,41.0,NaN,NaN,2007-06-05,NaN,NaN,...,N OAK PARK AVE,NaN,NaN,NaN,NaN,NaN,T002,NaN,NaN,0.0
2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",8.0,"7900 W FOSTER AVE, Chicago, IL",NaN,79.0,NaN,NaN,2007-06-05,NaN,NaN,...,W FOSTER AVE,NaN,NaN,NaN,NaN,NaN,T015,NaN,NaN,0.0
2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",8.0,"7900 W FOSTER AVE, Chicago, IL",NaN,79.0,NaN,NaN,2007-06-05,NaN,NaN,...,W FOSTER AVE,NaN,NaN,NaN,NaN,NaN,T015,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-17,NaN,NaN,NaN,13.2,NaN,,0,2014-10-17,3,0,...,NaN,0606,1707,55,62.0,48.0,NaN,M,50,NaN
2014-10-17,NaN,NaN,NaN,12.7,NaN,,0,2014-10-17,M,M,...,NaN,-,-,56,63.0,49.0,NaN,M,52,NaN
2014-10-18,NaN,NaN,NaN,9.2,NaN,RA DZ,0,2014-10-18,-8,0,...,NaN,0607,1706,43,50.0,36.0,NaN,M,42,NaN
2014-10-18,NaN,NaN,NaN,8.7,NaN,RA,0,2014-10-18,M,M,...,NaN,-,-,46,52.0,39.0,NaN,M,44,NaN
2014-10-19,NaN,NaN,NaN,8.2,NaN,,0,2014-10-19,-7,0,...,NaN,0608,1704,44,54.0,33.0,NaN,M,43,NaN
2014-10-19,NaN,NaN,NaN,9.0,NaN,,0,2014-10-19,M,M,...,NaN,-,-,47,57.0,36.0,NaN,M,44,NaN
2014-10-20,NaN,NaN,NaN,9.3,NaN,,0,2014-10-20,6,0,...,NaN,0610,1703,56,65.0,46.0,NaN,M,49,NaN
2014-10-20,NaN,NaN,NaN,9.1,NaN,,0,2014-10-20,M,M,...,NaN,-,-,58,66.0,50.0,NaN,M,51,NaN
2014-10-21,NaN,NaN,NaN,11.4,NaN,,0,2014-10-21,-1,0,...,NaN,0611,1701,49,53.0,45.0,NaN,M,44,NaN
2014-10-21,NaN,NaN,NaN,11.6,NaN,,0,2014-10-21,M,M,...,NaN,-,-,52,54.0,49.0,NaN,M,46,NaN
2014-10-22,NaN,NaN,NaN,4.8,NaN,,0,2014-10-22,-4,0,...,NaN,0612,1660,46,56.0,35.0,NaN,M,43,NaN
2014-10-22,NaN,NaN,NaN,5.1,NaN,,0,2014-10-22,M,M,...,NaN,-,-,50,56.0,43.0,NaN,M,44,NaN
2014-10-23,NaN,NaN,NaN,7.8,NaN,BR,0,2014-10-23,-1,0,...,NaN,0613,1658,48,59.0,36.0,NaN,M,45,NaN
2014-10-23,NaN,NaN,NaN,8.4,NaN,BR,0,2014-10-23,M,M,...,NaN,-,-,52,62.0,41.0,NaN,M,47,NaN
2014-10-24,NaN,NaN,NaN,5.8,NaN,,0,2014-10-24,11,0,...,NaN,0614,1657,60,67.0,52.0,NaN,M,52,NaN
2014-10-24,NaN,NaN,NaN,5.8,NaN,,0,2014-10-24,M,M,...,NaN,-,-,61,68.0,54.0,NaN,M,53,NaN
2014-10-25,NaN,NaN,NaN,10.9,NaN,BR,0,2014-10-25,13,0,...,NaN,0616,1656,61,72.0,49.0,NaN,M,51,NaN
2014-10-25,NaN,NaN,NaN,10.4,NaN,BR HZ,0,2014-10-25,M,M,...,NaN,-,-,64,75.0,52.0,NaN,M,52,NaN
2014-10-26,NaN,NaN,NaN,5.8,NaN,,0,2014-10-26,5,0,...,NaN,0617,1654,53,64.0,42.0,NaN,M,44,NaN
2014-10-26,NaN,NaN,NaN,5.4,NaN,,0,2014-10-26,M,M,...,NaN,-,-,55,66.0,44.0,NaN,M,45,NaN
2014-10-27,NaN,NaN,NaN,12.9,NaN,,0,2014-10-27,16,0,...,NaN,0618,1653,64,77.0,51.0,NaN,M,58,NaN
2014-10-27,NaN,NaN,NaN,13.6,NaN,RA,2,2014-10-27,M,M,...,NaN,-,-,67,79.0,54.0,NaN,M,59,NaN
2014-10-28,NaN,NaN,NaN,15.6,NaN,,0,2014-10-28,10,0,...,NaN,0619,1651,57,68.0,45.0,NaN,M,47,NaN
2014-10-28,NaN,NaN,NaN,14.6,NaN,RA,0,2014-10-28,M,M,...,NaN,-,-,57,66.0,48.0,NaN,M,48,NaN
2014-10-29,NaN,NaN,NaN,9.9,NaN,,0,2014-10-29,-4,0,...,NaN,0620,1650,43,49.0,36.0,NaN,M,40,NaN
2014-10-29,NaN,NaN,NaN,9.0,NaN,,0,2014-10-29,M,M,...,NaN,-,-,45,49.0,40.0,NaN,M,42,NaN
2014-10-30,NaN,NaN,NaN,5.5,NaN,,0,2014-10-30,-4,0,...,NaN,0622,1649,42,51.0,32.0,NaN,M,40,NaN
2014-10-30,NaN,NaN,NaN,6.5,NaN,RA,0,2014-10-30,M,M,...,NaN,-,-,45,53.0,37.0,NaN,M,42,NaN
2014-10-31,NaN,NaN,NaN,22.9,NaN,RA SN,0,2014-10-31,-6,0,...,NaN,0623,1647,40,47.0,33.0,NaN,M,33,NaN
2014-10-31,NaN,NaN,NaN,22.6,NaN,RA SN BR,0,2014-10-31,M,M,...,NaN,-,-,42,49.0,34.0,NaN,M,36,NaN

In [19]:
weather2 = weather.copy()

In [27]:
weather2[["Sunrise","Sunset"]]

           Sunrise Sunset
Date
2007-05-01    0448   1849
2007-05-01       -      -
2007-05-02    0447   1850
2007-05-02       -      -
2007-05-03    0446   1851
2007-05-03       -      -
2007-05-04    0444   1852
2007-05-04       -      -
2007-05-05    0443   1853
2007-05-05       -      -
2007-05-06    0442   1855
2007-05-06       -      -
2007-05-07    0441   1856
2007-05-07       -      -
2007-05-08    0439   1857
2007-05-08       -      -
2007-05-09    0438   1858
2007-05-09       -      -
2007-05-10    0437   1859
2007-05-10       -      -
2007-05-11    0436   1860
2007-05-11       -      -
2007-05-12    0435   1901
2007-05-12       -      -
2007-05-13    0434   1902
2007-05-13       -      -
2007-05-14    0433   1903
2007-05-14       -      -
2007-05-15    0432   1904
2007-05-15       -      -
...            ...    ...
2014-10-17    0606   1707
2014-10-17       -      -
2014-10-18    0607   1706
2014-10-18       -      -
2014-10-19    0608   1704
2014-10-19       -      -
2014-10-20    0610   1703
2014-10-20       -      -
2014-10-21    0611   1701
2014-10-21       -      -
2014-10-22    0612   1660
2014-10-22       -      -
2014-10-23    0613   1658
2014-10-23       -      -
2014-10-24    0614   1657
2014-10-24       -      -
2014-10-25    0616   1656
2014-10-25       -      -
2014-10-26    0617   1654
2014-10-26       -      -
2014-10-27    0618   1653
2014-10-27       -      -
2014-10-28    0619   1651
2014-10-28       -      -
2014-10-29    0620   1650
2014-10-29       -      -
2014-10-30    0622   1649
2014-10-30       -      -
2014-10-31    0623   1647
2014-10-31       -      -

[2944 rows x 2 columns]

In [ ]:
weather2.drop